<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_demo.dao.mapper.TsysdicMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot_demo.entity.Tsysdic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tablename" jdbcType="VARCHAR" property="tablename" />
    <result column="filedname" jdbcType="VARCHAR" property="filedname" />
    <result column="value" jdbcType="TINYINT" property="value" />
    <result column="des" jdbcType="VARCHAR" property="des" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tablename, filedname, value, des
  </sql>
  <select id="selectByExample" parameterType="com.example.springboot_demo.entity.TsysdicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tsysdic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsysdic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tsysdic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.springboot_demo.entity.TsysdicExample">
    delete from tsysdic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.springboot_demo.entity.Tsysdic">
    insert into tsysdic (id, tablename, filedname, 
      value, des)
    values (#{id,jdbcType=BIGINT}, #{tablename,jdbcType=VARCHAR}, #{filedname,jdbcType=VARCHAR}, 
      #{value,jdbcType=TINYINT}, #{des,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot_demo.entity.Tsysdic">
    insert into tsysdic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tablename != null">
        tablename,
      </if>
      <if test="filedname != null">
        filedname,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="des != null">
        des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tablename != null">
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="filedname != null">
        #{filedname,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=TINYINT},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.springboot_demo.entity.TsysdicExample" resultType="java.lang.Long">
    select count(*) from tsysdic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tsysdic
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tablename != null">
        tablename = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.filedname != null">
        filedname = #{record.filedname,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=TINYINT},
      </if>
      <if test="record.des != null">
        des = #{record.des,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tsysdic
    set id = #{record.id,jdbcType=BIGINT},
      tablename = #{record.tablename,jdbcType=VARCHAR},
      filedname = #{record.filedname,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=TINYINT},
      des = #{record.des,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot_demo.entity.Tsysdic">
    update tsysdic
    <set>
      <if test="tablename != null">
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="filedname != null">
        filedname = #{filedname,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=TINYINT},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot_demo.entity.Tsysdic">
    update tsysdic
    set tablename = #{tablename,jdbcType=VARCHAR},
      filedname = #{filedname,jdbcType=VARCHAR},
      value = #{value,jdbcType=TINYINT},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="DicComboBoxResultMap" type="com.example.springboot_demo.ventity.ComBoxEntity">
    <result column="value" jdbcType="TINYINT" property="id" />
    <result column="des" jdbcType="VARCHAR" property="text" />
  </resultMap>
  <select id="selectValueAndDes" resultMap="DicComboBoxResultMap">
    select value,des from TSysdic
    where tablename=#{arg0}
    and filedname=#{arg1}
    <choose>
      <when test="arg1=='TERM'">
        order by value asc
      </when>
      <otherwise>
        order by value desc
      </otherwise>
    </choose>
  </select>
  <select id="selectAcaDic" resultMap="DicComboBoxResultMap">
    select value,des from TSysdic
    where tablename='COMON'
    and filedname='ACADEMIC'
    and left(des,4)>=#{arg0};
  </select>
</mapper>